@media only screen and (min-width: 560px) {
    nav li {float: left; width: 25%;}

    main figure {        
        width: 48%;
        margin: 2%;
    }

    header {
        background-color: #261e6d;
        padding: 1rem 2%;
        grid-column: 1/4;
        grid-row: 1;
    }



} /* end media query*/