* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* body rules hers */
body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* header rules here */
header {
    background-color: #7f5338;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
    color: cornsilk;
}
header h2 {
    margin: 0;
    color: cornsilk;
}

/* navigation rules here */
nav {background-color: #997762;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: #7f4138;}
nav a { 
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #444;}

/* main rule here */
main {
    padding: 1rem 2%;
    display: block;
}
main h1 {color: #7f5338;}
main figure img {width: 100%;}
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {text-align: center; font-size: .8rem;}

footer {
    text-align: center;
    color: #eef7fb;
    padding: 1rem 2%;
    background-color: #385a7f;
}
footer a {
    color: #eef7fb;
}











.clearfix::after {
    content: "";
    display: table;
    clear: both;
}