* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* body rules hers */
body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* header rules here */
header {
    background-color: #261e6d;
    padding: 1rem 2%;
    grid-column: 1/4;
    grid-row: 1;
}
header h1 {
    margin: 0;
    color: cornsilk;
}
header h2 {
    margin: 0;
    color: cornsilk;
}

/* navigation rules here */
nav {background-color: #997762;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: #7f4138;}
nav a { 
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #444;}

/* main rule here */
main {
    padding: 1rem 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main h1 {color: #261e6d;}
main figure img {
    width: 100%; 
    align-content: center;
}
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {text-align: center; font-size: .8rem;}

footer {
    text-align: center;
    color: #eef7fb;
    padding: 1rem 2%;
    background-color: #261e6d;
    grid-column: 1/4;
    grid-row: 3;
}
footer a {
    color: #eef7fb;
}
section h2, h3 {
    text-align: center;
}
section p {
    padding: 10px;
}
main section.first {
    grid-column: 1/2;
    grid-row: 2;
}
main section.second {
    grid-column: 2/3;
    grid-row: 2;
}
main section.third {
    grid-column: 3/4;
    grid-row: 2;
}











.clearfix::after {
    content: "";
    display: table;
    clear: both;
}