/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Collor Pallet https://coolors.co/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5 */
:root {
--primary-color: #2C7DA0;
--secondary-color: #61A5C2;
--accent1-color: #012A4A;
--accent2-color: #A9D6E5;

/* change the values below to your chosen font(s) */
--heading-font: 'Libre Baskerville', serif;
--paragraph-font: 'Open Sans', sans-serif;    
    
}
/* font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif; */

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.center {margin: 0 auto;}
/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6, p, td, tr, div {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
/*----------- HEADER --------------*/
header {
    padding: 1rem 2%;
    background-color: var(--primary-color);
    text-align: center;
}
header h1 {margin: 0; font-size: 2.2rem; }
main {
    padding: 0 2%;
    min-height: 10rem;
    max-width: 300px;
}
img[data-src] {
  filter: blur(0.2em);
}
main img {
    width: 100%;
    height: auto;
    transition: filter 2s;
    margin: 5% 0;
    border-radius: 10px;
    box-shadow: 10px 5px 15px grey;
}

/*----------- FOOTER --------------*/
footer {
    background-color: var(--accent2-color);
    padding: 1rem 2%;
    text-align: center;
}
footer img {
    width: 100%;
    height: 150px;
}
footer p {
    margin: 0 0 15px 0;
}
#placeIcons {
    font-size:5px;
    color: var(--accent2-color);
}
.social {
    width: 40px;
    height: auto;
}
#classData {
    margin: 2rem 2%;
}
.material-icons.s15 {
    font-size: 15px;
}