/* 54em is also 877px (if basefont is 16px) */
@media only screen and (min-width: 54rem) {

    header, nav, main, footer {
        margin: auto;
    }

/*----------- BODY --------------*/
.post-content {
    max-width: 80%;
    border-bottom: 1px solid var(--secondary-color);
}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul {
    display: grid;
    grid-template-columns: 100px 200px 100px;
    justify-content: end;
    justify-items: end;
}
/*----------- ARTICAL -----------*/
main article {
    display: grid;
    grid-template-columns: 30% 1fr;
}
main article div {
    margin: 1rem;
    padding: 0 5px;
    border-right: 1px solid var(--secondary-color);
    border-bottom: none;
}
main h2 a {
    color: var(--secondary-color);
    text-decoration: none;
}
section p a {
    text-decoration: none;
}

/*----------- MAIN --------------*/
main {
        padding: .2rem 2%;
        max-width: 58rem;  
    }
main figure {
        margin: 0 auto;
    }
main img {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

} /* end of media query */