/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 65rem) {

    header, nav, main, footer {
        margin: auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav button {display: none;}
    
nav ul.hide {display: block;}

/*----------- MAIN --------------*/
.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed var(--secondary-color);
    padding: 15px;
    background-color: rgba(169, 214, 229, 1);    
}
main {
        padding: .2rem 2%;
        max-width: 64rem;  
    }
main figure {
        margin: 0 auto;
    }
main div figure.wImg {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 0 auto;
}
main div.wHeading {
    text-align: left;
    margin: 0 .5rem;
}
.fiveDayImgPlaceHolder {
   background-color: rgba(169, 214, 229, 0.6);
   padding: 1rem 1rem 1rem 1rem;
}
    
/*------ Home Page Cards ---------*/
main div.towncards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    padding: 20px;
}
main div.towncards h2 {
    font-size: 2rem;
    margin: auto;
    color: var(--accent4-color);
    background-color: var(--accent1-color);
    padding: 10px 0 5px 0;
    border-radius: 4px 4px 0 0;
}
main div.towncards h3 {
    margin: auto;
    color: var(--accent4-color);
    background-color: var(--accent1-color);
    font-size: .7rem;
    padding: 0 0 15px 0;
}
main div.towncards p {
    margin: auto;
    line-height: 20px;
}
main div.towncards section a div.info {
    display: block;
}
    main div.towncards img {
        width: 90%;
    }
    
/*----------- FORM --------------*/
form fieldset {
    width: 90%;
}
form label.sbs {
    padding: .4rem 0;
}
form label.top input, form select, form label.top textarea, form label select option, div#selected {
        max-width: 30rem;
}
    
/*----------- FOOTER --------------*/

    
} /* end of media query */